
<form  name="frm_roles"  novalidate ng-submit="guardarFrm(datos)">
    <div class="modal-header">
        <h4 id="myModalLabel" class="modal-title">{{frm_title}}</h4></div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-20">
                <div class="form-group " data-ng-class="{'has-error': frm_roles.nombre_rol.$invalid }">
                    <label class="control-labe" for="nombre_rol">Nombre de rol </label>
                    <input class="form-control input-sm" name="nombre_rol"  id="nombre_rol"
                           type="text"  ng-required="true"
                           ng-minlength="2"  ng-model="datos.nombre_rol" >
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-20" >
                <div class="form-group " data-ng-class="{'has-error': frm_roles.descripcion_rol.$invalid }">
                    <label class="control-label" for="descripcion_rol">Descripción</label>

                    <textarea class="form-control input-sm" style="resize: none;" rows="2" id="descripcion_rol"
                              name="descripcion_rol" ng-minlength = "5" ng-maxlength = "150"
                              ng-model="datos.descripcion_rol"></textarea>
                </div>
            </div>
        </div>


    </div>
    <div ng-include="'app/views/fragmento/botones_formularios_gral.html'"></div>
</form>

