<li class="sidebar-subnav-header">
	<hr class="m-lg">
	<span class="ml-lg bold">Novedades GESDOC</span>
</li>
<li class="sidebar-subnav-header">
	<ul class="nav ng-scope">
		<li>
			<!-- START User status-->
			<a href="#" class="media-box p mt0">
				<span class="pull-right">
					<span class="circle circle-success circle-lg"></span>
				</span>
				<span class="pull-left">
					<!-- Contact avatar-->
					<img src="app/img/user/05.jpg" alt="Image" class="media-box-object img-circle thumb48">
				</span>
				<!-- Contact info-->
				<span class="media-box-body">
					<span class="media-box-heading">
						<strong>Juan Sims</strong>
						<br>
						<small class="text-muted">Designeer</small>
					</span>
				</span>
			</a>
			<!-- END User status-->
			<!-- START User status-->
			<a href="#" class="media-box p mt0">
				<span class="pull-right">
					<span class="circle circle-success circle-lg"></span>
				</span>
				<span class="pull-left">
					<!-- Contact avatar-->
					<img src="app/img/user/06.jpg" alt="Image" class="media-box-object img-circle thumb48">
				</span>
				<!-- Contact info-->
				<span class="media-box-body">
					<span class="media-box-heading">
						<strong>Maureen Jenkins</strong>
						<br>
						<small class="text-muted">Designeer</small>
					</span>
				</span>
			</a>
			<!-- END User status-->
			<!-- START User status-->
			<a href="#" class="media-box p mt0">
				<span class="pull-right">
					<span class="circle circle-danger circle-lg"></span>
				</span>
				<span class="pull-left">
					<!-- Contact avatar-->
					<img src="app/img/user/07.jpg" alt="Image" class="media-box-object img-circle thumb48">
				</span>
				<!-- Contact info-->
				<span class="media-box-body">
					<span class="media-box-heading">
						<strong>Billie Dunn</strong>
						<br>
						<small class="text-muted">Designeer</small>
					</span>
				</span>
			</a>
			<!-- END User status-->
			<!-- START User status-->
			<a href="#" class="media-box p mt0">
				<span class="pull-right">
					<span class="circle circle-warning circle-lg"></span>
				</span>
				<span class="pull-left">
					<!-- Contact avatar-->
					<img src="app/img/user/08.jpg" alt="Image" class="media-box-object img-circle thumb48">
				</span>
				<!-- Contact info-->
				<span class="media-box-body">
					<span class="media-box-heading">
						<strong>Tomothy Roberts</strong>
						<br>
						<small class="text-muted">Designer</small>
					</span>
				</span>
			</a>
			<!-- END User status-->
		</li>
		<!-- START list title-->
	</ul>
</li>