<!-- START Top Navbar-->
<nav class="navbar topnavbar" role="navigation">
    <!-- START navbar header-->
    <div class="navbar-header">
        <a class="navbar-brand" href="#/">
            <div class="brand-logo">
                <img class="img-responsive" src="app/img/logo_gesdoc_white_navbar.png" alt="SGD Logo"/>
            </div>
            <div class="brand-logo-collapsed">
                <img class="img-responsive" src="app/img/logo_gesdoc_single.png" alt="SGD Logo"/>
            </div>
        </a>
    </div>
    <!-- END navbar header-->
    <!-- START Nav wrapper-->
    <div class="nav-wrapper custom-navbar">
        <!-- START Left navbar-->
        <ul class="nav navbar-nav">
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a class="hidden-xs" href="" trigger-resize=""
                   ng-click="app.layout.isCollapsed = !app.layout.isCollapsed" ng-if="!app.layout.isCollapsedText">
                    <em class="fa fa-navicon"></em>
                </a>
                <!-- Button to show/hide the sidebar on mobile. Visible on mobile only.-->
                <a class="visible-xs sidebar-toggle" href="" ng-click="app.asideToggled = !app.asideToggled">
                    <em class="fa fa-navicon"></em>
                </a>
            </li>
            <!-- START User avatar toggle-->
            <li>
                <!-- Button used to collapse the left sidebar. Only visible on tablet and desktops-->
                <a href="" ng-click="toggleUserBlock()" title="Usuario...">
                    <em class="fa fa-user-circle"></em>
                </a>
            </li>
            <!-- END User avatar toggle-->
            <li>
                <a ng-click="changePass()" title="Cambiar contraseña" href="">
                    <em class="fa fa-key"></em>
                </a>
            </li>
            <li>
                <a ng-click="logoUt()" title="Bloquear sistema" href="">
                    <em class="fa fa-lock"></em>
                </a>
            </li>
        </ul>
        <!-- END Left navbar-->
        <!-- START Right Navbar-->
        <ul class="nav navbar-nav navbar-right">
            <!-- Search icon
            <li>
               <a search-open="">
                  <em class="icon-magnifier fa fa-search"></em>
               </a>
            </li>
            <!-- START Offsidebar button-->
            <!--li>
                <a href="" ng-click="app.offsidebarOpen = !app.offsidebarOpen">
                    <em class="icon-notebook fa fa-sticky-note"></em>
                </a>
            </li-->
            <li>
                <a href="" ng-click="logoUt()" title="Salir del sistema">
                    <i class="fa fa-sign-out"></i>
                </a>
            </li>
            <!-- END Offsidebar menu-->
        </ul>
        <!-- END Right Navbar-->
    </div>
    <!-- END Nav wrapper-->
    <!-- START Search form-->
    <form class="navbar-form" role="search" action="search.html">
        <div class="form-group has-feedback">
            <input class="form-control" type="text" placeholder="{{ 'topbar.search.PLACEHOLDER' | translate }}"/>
            <div class="fa fa-times form-control-feedback" search-dismiss="search-dismiss"></div>
        </div>
        <button class="hidden btn btn-default" type="submit">Submit</button>
    </form>
    <!-- END Search form-->
</nav>
<!-- END Top Navbar-->

<style>
    .custom-navbar{
        background-color: #3464b6;
    }
</style>
