<table width="100%" style="font-size: 12px;" class="tbl-header">
    <tr>
        <td rowspan="3" width="75px" style="text-align: center">
            <img src="images/logo_entidad_pq.png" alt="test alt attribute" width="80" height="80" border="0"/>
        </td>
        <td width="600px" style="text-align: center">
            <b>REPUBLICA DE COLOMBIA<br>
                GOBERNACIÓN DEL PUTUMAYO<br>
                NIT: 800094164-4
            </b>
            <br>
            <i>"TRECE MUNICIPIOS UN SOLO CORAZÓN"</i>
        </td>
        <td rowspan="3" style="text-align: center" width="75px">
            <img src="images/logo_admin_3x3.png" alt="test alt attribute" width="130" height="50" border="0"/>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td style="text-align: center">
            <div ng-bind-html="titleReporte"></div>
        </td>
    </tr>
</table>
