<div class="row">
    <div class="col-sm-20">
        <div _ngcontent-c1="" class="text-center my-3">
            <h1 _ngcontent-c1="" class="mb-3">
                <sup _ngcontent-c1="">
                    <em _ngcontent-c1="" class="fa fa-cog fa-2x text-muted fa-spin text-info"></em>
                </sup>
                <em _ngcontent-c1="" class="fa fa-cog fa-5x text-muted fa-spin text-purple"></em>
                <em _ngcontent-c1="" class="fa fa-cog fa-lg text-muted fa-spin text-success"></em>
            </h1>
            <div _ngcontent-c1="" class="text-bold text-lg mb-3">ACCESO RESTRINGIDO</div>
            <p _ngcontent-c1="" class="lead m0">Consulta con el administrador!</p>
            <button type="button" class="btn btn-success"> Volver</button>
        </div>
    </div>
</div>